# Entorno virtual
venv/

# Cachés de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Base de datos SQLite
instance/
app.db

# Configuraciones de VS Code
.vscode/

# Excluir configuraciones personales de VS Code
.vscode/settings.json
.vscode/extensions.json

# Excluir SQLBrowser
SQLBrowser/